<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <!-- //bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="CSS/font-awesome/css/fontawesome-all.css"> 
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=vietnamese" rel="stylesheet">
    <title>Trần Công Hưng</title>
</head>
<body>
    <div class="container-fluid" id="d1">    
 
    <div id="d2"></div>
    <div class="container-fluid" id="d5">
   <div class="container">
    <div id="d6">
   
    </div>
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10" id="d3">
                        <div class="row">
                            <div class="col-md-7">
                                <br>
                              <a href="https://www.facebook.com/trancong.hung.100"><img src="img/img-profile.jpg" width="100%" ></a>  
                            </div>
                            <div class="col-md-5" id="d4">
                                <br>
                                <h6 class="text-center" id="text.h6">HELLO EVERYBODY,I AM/XIN CHÀO MỌI NGƯỜI, TÔI LÀ</h6>
                                <h3 class=" font-weight-bold text-center " id="text.h3"><b>TRẦN CÔNG HƯNG</b></h3>
                                <h5 class=" font-weight-bold text-center "  id="text.h4"><b>STUDENT-PXU/SINH VIÊN-PXU</b></h5>
                                <br>
                                <p id="text.p">I'm a 3rd year student at PXU UNIVERSITY. I FUTURE I WANT TO BE A WEB PROGRAMMER.</p>
                                <br>
                                <p id="text.p">Tôi là sinh viên năm 3 trường ĐẠI HỌC PXU. TƯƠNG LAI TÔI MUỐN LÀ MỘT NHÀ LẬP TRÌNH WEB.</p>
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="img/calendar-week.svg" width="70%" height="55px" style="margin-left: 15px;">
                                        <img src="img/telephone.svg" width="70%" height="55px" style="margin-left: 15px;">
                                        <img src="img/chat.svg"width="70%" height="55px"style="margin-left: 15px;">
                                        <img src="img/house-door.svg" width="70%" height="55px"style="margin-left: 15px;">
                                    </div>
                                    <div class="col-md-10">
                                    <div id="magina"></div>
                                        <p>23-12-2001</p>
                                        <div id="maginb"></div>
                                        <p>phone number:0944746209</p>
                                        <div id="maginc"></div>
                                        <p><a href="https://www.facebook.com/trancong.hung.100">Facebook</a> <samp>Zalo:0944746209</samp></p>
                                        <div id="magind"></div>
                                        <p>Kiết 168/22-Trần Phú-Phường Phước Vĩnh-Thành Phố Huế</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        
                    </div>
                </div>
   </div>
   <div id="d6">
   
</div>
</div>

    </div>
</body>
</html>